<!DOCTYPE html>
<html>
<title>Loan Default</title>
<body>

<form action = "/getdefault" method="POST">
<p> Select Loan Amount:<input name="origin" type ="text" value="0" /> </p>
<p> Select Gender : 
<select name="SEX">
<option value="1">Male </option>
<option value="2">Female </option>
</select>
    
<p> Select  Education :   
<select name="EDUCATION">
<option value="1">Graduate School </option>
<option value="2">University </option>
<option value="3">High School</option>
<option value="4">Other </option>
</select>

<p> Select Marriage:
<select name="MARRIAGE">
<option value="1">Married </option>
<option value="2">Single </option>
<option value="3">Other</option>
</select>
<p> Select Age: <input name="dep_hour" type ="text" value="0" /> </p>
<p> First Payment: <input name="PAY_0" type ="text" value="0" /> </p>
<p> Second Payment: <input name="PAY_2" type ="text" value="0" /> </p>
<p> Third Payment: <input name="PAY_3" type ="text" value="0" /> </p>
<p> Fourth Payment: <input name="PAY_4" type ="text" value="0" /> </p>
<p> Fifth Payment: <input name="PAY_5" type ="text" value="0" /> </p>
<p> Sixth Payment: <input name="PAY_6" type ="text" value="0" /> </p>
<p> Amount of First Bill: <input name="BILL_AMT1" type ="text" value="0" /> </p>
<p> Amount of Second Bill: <input name="BILL_AMT2" type ="text" value="0" /> </p>
<p> Amount of Third Bill: <input name="BILL_AMT3" type ="text" value="0" /> </p>
<p> Amount of Fourth Bill: <input name="BILL_AMT4" type ="text" value="0" /> </p>
<p> Amount of Fifth Bill: <input name="BILL_AMT5" type ="text" value="0" /> </p>
<p> Amount of Sixth Bill: <input name="BILL_AMT6" type ="text" value="0" /> </p>
<p> Amount of First Payment: <input name="PAY_AMT1" type ="text" value="0" /> </p>
<p> Amount of Second Payment: <input name="PAY_AMT2" type ="text" value="0" /> </p>
<p> Amount of Third Payment: <input name="PAY_AMT3" type ="text" value="0" /> </p>
<p> Amount of Fourth Payment: <input name="PAY_AMT4" type ="text" value="0" /> </p>
<p> Amount of Fifth Payment: <input name="PAY_AMT5" type ="text" value="0" /> </p>
<p> Amount of Sixth Payment: <input name="PAY_AMT6" type ="text" value="0" /> </p>
<p> <input type ="submit" value="submit" /> </p>
</form>
</body>
</html>
